.salary-calculator {
    background-color: #f0f0f0;
    border-radius: 50px;
    width: 50%;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    text-align: center;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .output-container {
    display: flex;
    justify-content: space-around; /* Adjust spacing between tax and salary */
  }
  
  .output-container > div {
    text-align: center;
  }
  
  h3 {
    margin-bottom: 10px;
  }
  